* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font;
    font-size: 18px;
}

window#waybar {
    background-color: #191724;
    color: #e0def4;
}


#workspaces button {
    padding: 0 5px;
    margin: 0 4px;
    background-color: #191724;
    color: #e0def4;
}

#workspaces button.focused {
    color: #9ccfd8;
}

#workspaces button.urgent {
    background-color: #eb6f92;
}

#mode {
    background-color: #e0def4;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#mode,
#scratchpad,
#mpd {
    background-color: #191724;
    margin: 3px;
    padding: 0 10px;
    border-radius: 3px;
    font-weight: bold;
}

#window,
#workspaces {
    margin: 0 4px;
}

#clock {
    color: #cecacd;
}

#battery {
    color: #ebbcba;
}

#battery.charging, #battery.plugged {
    color: #f6c177;
}

@keyframes blink {
    to {
        color: #eb6f92
    }
}

#battery.critical:not(.charging) {
    color: #eb6f92;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#cpu {
    color: #ebbcba;
}

#memory {
    color: #ebbcba;
}

#backlight {
    color: #9ccfd8;
}

#network {
    color: #f6c177;
}

#network.disconnected {
    color: #eb6f92;
}

#pulseaudio {
    color: #e0def4;
}

#temperature {
    color: #9ccfd8;
}

#temperature.critical {
    background-color: #eb6f92;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

