* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font;
    font-size: 18px;
}

window#waybar {
    background-color: #282828;
    color: #ebdbb2;
}


#workspaces button {
    padding: 0 5px;
    margin: 0 4px;
    background-color: #282828;
    color: #ebdbb2;
}

#workspaces button.focused {
    color: #7daea3;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#mode,
#scratchpad,
#mpd {
    background-color: #282828;
    margin: 3px;
    padding: 0 10px;
    border-radius: 3px;
    font-weight: bold;
}

#window,
#workspaces {
    margin: 0 4px;
}

#clock {
    color: #a9b665
}

#battery {
    color: #89b482
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#cpu {
    color: #e78a4e;
}

#memory {
    color: #e78a4e;
}

#backlight {
    color: #d8a657;
}

#network {
    color: #7daea3;
}

#network.disconnected {
    color: #ea6962
}

#pulseaudio {
    color: #d8a657;
}

#pulseaudio.muted {
    color: #d8a657;
}
#temperature {
    color: #a9b665;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

